.heroes {list-style-type: none; margin-left: 1em; padding: 0;}
.heroes > li {cursor: pointer;}

.heroes li { transition: all .15s ease-in-out; }
.heroes li:hover { transform: scale(1.01); color: #369; }

.container { margin: 2em; }
.container, input[text] { color: #888; font-family: Cambria, Georgia; }

h2 { color: #444; font-weight: lighter; }
